# Copyright (c) 2024 Joel Guittet
# Copyright (c) 2024 Tim Sørensen
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_ESP32S3=y
CONFIG_BOARD_WAVESHARE_ESP32S3_TOUCH_LCD_4_3=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_GPIO=y
CONFIG_REGULATOR=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_CLOCK_CONTROL=y
CONFIG_INPUT_CST816S_INTERRUPT=n
